<footer class="site-footer h-card">
  <data class="u-url" href="{{ site.baseurl | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Workshop Instructors</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <p><a href="http://wonlab.skku.edu"><i class="fas fa-home"></i> Won Lab</a></p>
            <!-- {%- if site.email -%} -->
            <li><a class="u-email" href="mailto:wonhh@skku.edu"><i class="far fa-envelope"></i> Hong-Hee Won</a></li>
            <li><a class="u-email" href="mailto:soojincha36@gmail.com"><i class="far fa-envelope"></i> Soojin Cha</a></li>
            <li><a class="u-email" href="mailto:injeong.shim@gmail.com"><i class="far fa-envelope"></i> Injeong Shim</a></li>
            <li><a class="u-email" href="mailto:soyeon2019@gmail.com"><i class="far fa-envelope"></i> Soyeon Kim</a></li>
            <li><a class="u-email" href="mailto:kbsssu@gmail.com"><i class="far fa-envelope"></i> Beomsu Kim</a></li>
            <!-- {%- endif -%} -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
